/* This file is hosted on Netlify to override the hosted iap proxy ui */

#logo{
  max-width:200px!important;
}
html{
  background: url("https://storage.googleapis.com/biometriq-public-files/pp-background.webp");
  background-position: center;
}
body{
  background-color: transparent;
}
